# SQL Hands-On

### Importing Libraries

In [1]:
import sqlalchemy as db
import pandas as pd

### Creating a SQL Database with SQL Alchemy

The first establish a "database engine". If the path directs to existing database, we can access that database. If the path directs to a database that is not yet existent, it will be created

In [2]:
# adapt this path to your setup
engine = db.create_engine("sqlite:///acmdatabase")

Then, we need to connect the created database engine

In [3]:
engine.connect()

In [4]:
inspector = db.inspect(engine)
inspector.get_table_names() # the database is empty

[]

### Load ACM data with Pandas

Load Excelfiles of ACM case as dataframes

In [5]:
survey = pd.read_excel("https://github.com/casbdai/notebooks2023/raw/main/Module2/SQL/TV%20Survey%20Data.xlsx")
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7846 entries, 0 to 7845
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateAired       7846 non-null   datetime64[ns]
 1   IndustryAdType  7846 non-null   object
 2   ProgramName     7846 non-null   object
 3   Spend           7846 non-null   float64
 4   GRP             7846 non-null   float64
 5   Impressions     7846 non-null   float64
 6   gravity         7846 non-null   float64
 7   relatability    7846 non-null   float64
 8   heart           7846 non-null   float64
 9   originality     7846 non-null   float64
 10  adrenaline      7846 non-null   float64
 11  smarts          7846 non-null   float64
 12  passion         7846 non-null   float64
 13  edge            7846 non-null   float64
 14  Country         7846 non-null   object
 15  State           7846 non-null   object
 16  GTrend          7846 non-null   int64
dtypes: datetime64[ns](1), float64(11), int64(1), object(4)
memory usage: 1.0+ MB

Load Excelfiles of ACM case as dataframes

In [6]:
intentionality = pd.read_excel("https://github.com/casbdai/notebooks2023/raw/main/Module2/SQL/TV%20Intentionality%20Data.xlsx")
intentionality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7846 entries, 0 to 7845
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            7846 non-null   datetime64[ns]
 1   IndustryAdType  7846 non-null   object
 2   ProgramName     7846 non-null   object
 3   Intentionality  7846 non-null   float64
 4   GTrend          7846 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 306.6+ KB

### Write loaded data into acmdatabase with Pandas

Write survey dataframe into acmdatabase using pandas

In [7]:
survey.to_sql('survey', con=engine, if_exists="replace", index=False)

inspector = db.inspect(engine)
inspector.get_table_names() #now we have created the table survey

['survey']

Write intentionality dataframe into acmdatabase using pandas

In [8]:
intentionality.to_sql('intentionality', con=engine, if_exists="replace", index=False)

inspector = db.inspect(engine)
inspector.get_table_names() #now we have created the table intentionality

['intentionality', 'survey']

### Select Statements

Select entire table

In [10]:
pd.read_sql(db.text("SELECT * FROM survey;"), engine.connect())

,DateAired,IndustryAdType,ProgramName,Spend,GRP,Impressions,gravity,relatability,heart,originality,adrenaline,smarts,passion,edge,Country,State,GTrend
0,2019-04-13 00:00:00.000000,Healthy Fast Food Chain,Planet Hypothesis,147051.0,9.658,11183903.0,-1.370,0.929,-0.434,1.595,-1.561,-1.007,-0.164,4.322,United States,Delaware,47
1,2019-04-13 00:00:00.000000,Healthy Fast Food Chain,New Gal,387.0,0.163,188746.0,-0.938,0.880,0.450,-0.099,-1.244,-1.628,0.661,0.385,United States,Kentucky,47
2,2019-04-13 00:00:00.000000,Healthy Fast Food Chain,Sister Home Sellers,78814.0,5.274,6106398.0,1.501,1.109,-0.560,0.399,1.185,-0.005,-0.101,0.149,United States,Hawaii,47
3,2019-04-13 00:00:00.000000,Healthy Fast Food Chain,Freaky Vacations,178700.0,8.658,10026367.0,-1.483,0.036,0.390,-1.429,1.751,0.413,1.997,0.389,United States,Washington,47
4,2019-04-13 00:00:00.000000,Healthy Fast Food Chain,Maui Five Ten,208500.0,5.241,6068858.0,-0.479,1.473,-0.205,0.327,0.773,-0.955,2.105,-0.217,United States,Florida,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7841,2021-05-22 00:00:00.000000,Sport Utility Vehicle Sales,Planet Hypothesis,194193.0,14.693,17105095.0,-1.279,1.420,-0.749,0.530,-1.531,-1.209,0.255,0.667,United States,Illinois,85
7842,2021-05-22 00:00:00.000000,Sport Utility Vehicle Sales,Waltzing with the Famous,48839.0,1.731,2014795.0,1.364,0.764,0.297,0.799,1.620,-2.017,-0.097,0.068,United States,Colorado,85
7843,2021-05-22 00:00:00.000000,Sport Utility Vehicle Sales,Sister Home Sellers,3000.0,1.485,1728914.0,1.670,1.376,-0.608,-0.106,0.658,-0.389,-0.124,0.043,United States,New York,85
7844,2021-05-22 00:00:00.000000,Sport Utility Vehicle Sales,Together Forever,38187.0,5.212,6065586.0,-0.878,0.150,-0.955,-0.505,-1.097,-1.271,-0.659,1.753,United States,Texas,85
7845,2021-05-22 00:00:00.000000,Sport Utility Vehicle Sales,Orlando Vice,4240.0,0.583,679495.0,-1.096,1.146,0.877,-0.305,-1.060,-1.032,0.115,1.565,United States,Texas,85

Select Variables "GRP" and "ProgramName" from table survey

In [ ]:
pd.read_sql("SELECT GRP, ProgramName FROM survey;", engine)

Select the variables "gravity", "relatability" and "edge" from survey

In [ ]:
pd.read_sql(db.text("SELECT gravity, relatability, edge FROM survey;"), engine.connect())

Select all variables from table intentionality

In [ ]:
pd.read_sql(db.text("SELECT * FROM intentionality;"), engine.connect())

### Aliases

Using aliases, i.e., "AS" we can rename single or all variables in our SQL query

In [ ]:
pd.read_sql(db.text("SELECT GRP AS 'Gross Rate Point', ProgramName AS Program FROM survey;"), engine.connect())

From the table intentionality select the variables "Program Name" and "Intenationality". you want the variable names to be all caps (e.g., PROGRAM NAME)

In [ ]:
pd.read_sql(db.text("SELECT ProgramName AS 'PROGRAM NAME', Intentionality AS INTENTIONALITY FROM intentionality;"), engine.connect())

### Where-Clauses

With where clauses, you can make specific selections of the data, comparable to .loc() in Pandas

In [ ]:
pd.read_sql(db.text("SELECT ProgramName, Spend, DateAired FROM survey WHERE ProgramName='See and Sold';"), engine.connect())

You can use all kind of boolean operators: AND  OR  >  <  =  !=

In [ ]:
pd.read_sql(db.text("SELECT ProgramName, Spend FROM survey WHERE ProgramName='See and Sold' AND Spend > 40;"), engine.connect())

Select all programs with an intentionality score of bigger than 0.5 from table intentionality

In [ ]:
pd.read_sql(db.text("SELECT ProgramName, Intentionality FROM intentionality WHERE Intentionality > 0.5;"), engine.connect())

Select the "gravity" and "edge" variables for the programs "See and Sold" and "New Gal" from the table survey

In [ ]:
pd.read_sql(db.text("SELECT edge, gravity, ProgramName FROM survey WHERE ProgramName='See and Sold' OR ProgramName = 'New Gal';"), engine.connect())

### Selecting Data from Multiple Tables - Where SQL can become complicated :)

First try

In [ ]:
pd.read_sql(db.text("SELECT A.GRP, B.Intentionality FROM survey A, intentionality B WHERE A.ProgramName = B.ProgramName;"), engine.connect())

Better Try - We need to apply the where clause to all three criteria in the two data sets

In [ ]:
pd.read_sql(db.text("SELECT A.GRP, B.Intentionality FROM survey A, intentionality B WHERE A.ProgramName = B.ProgramName AND A.DateAired=B.date AND A.IndustryAdType = B.IndustryAdType;"), engine.connect())

This is equivalent to an inner join - we will look at that in greater detail in Pandas :)