# Assignment 2

In the next module, we will  use two central programming concepts: functions and for-loops. 

We also did use them in the previous sessions, but it is good to re-familiarize with them, because they allow us to re-use the same code again and again (while our notebook remains tidy)

## Functions

### Importing Functions

When we import a library such as pandas, we are basically import a series of functions that we can use for analyses

A famous package is numpy that allows us to import many mathematical functions. For instance here we import the function sqrt that takes the square root of a number

In [ ]:
from numpy import sqrt

we can now use that function

In [ ]:
sqrt(16)

Very frequently, we are import entire libraries that can then be assesed with an alias name. In the following example we import the library **numpy ** with the alias **np**

In [ ]:
import numpy as np

We can then access the functions of that library in the following way:

In [ ]:
np.sqrt(16)

Both ways are equivalent. In the first example, we only import a specific function sqrt() from the package numpy. In the second example, we import the entire numpy library (with all its functions)

### Wring own functions

Besides, we can write our own functions. A function can be easily defined in the following way:

In [ ]:
def my_function(argument1, argument2):
  sum = argument1 + argument2
  return sum

- **def** indicates python that we are going to define a function
- **my_function** is the function name with which we can use the function
- parentheses **()** indicate arguments; values that we can pass as inputs into the function 
- **return** reflects the value that is returned after the calculation

Now, we can add up two numbers with **my_function**

In [ ]:
my_function(3, 4)

In [ ]:
my_function(4, 2)

Of course, we can define functions that contain many steps or perform an entire analysis

In [ ]:
def my_function(argument1, argument2):
  sum = argument1 + argument2
  product = argument1 * argument2
  result = sum / product
  return result

In [ ]:
my_function(4, 2)

Please create a formala that calculates c in the Pythagorean Theorem: 

![PythagoreanTheoremFigure_1000.gif]()

Do not forget to import a function for calculating the square root

In [ ]:
from numpy import sqrt
def pythagoras(a,b):
  c_2 = a*a + b*b
  return sqrt(c_2)

In [ ]:
pythagoras(3,3)

## For Loops

A for loop is used for iterating over a sequence of values, e.g., a python list.

This means that we can repeat and automate the same tasks over and over again. Thus, it is a very powerful tool in data scientsts' toolbox.

Let's make a small example. We create a python list that contains fruits:

In [ ]:
fruits = ["apple", "banana", "cherry"]

A for loop takes each entry of the list and allows as to execute some action on it. In the following example, we just print out the different elements in the list:

In [ ]:
for fruit in fruits:
  print(fruit)

**fruit** is just a placeholder name that we are giving, we can basically give it any name. Also we can apply some manipulation to a fruits

In [ ]:
for x in fruits:
  print("an " + x + " is good")

The combination of functions and loops allows us to repeat a couple of actions with very little code. 

For instance, lets define a function that squares two numbers and apply it to a list of numbers

In [ ]:
def square(a):
  squared = a * a
  return squared

numbers = [1,2,3,4,5]

for n in numbers:
  print(square(n))

## 2) Practical Application

Define a List with the number 2, 3, 23, 113, and 212

In [ ]:
numbers = [2,3,23,113,212]
print(numbers)

Define a function **add100** that adds 100 to an input value

In [ ]:
def add100(a):
  result = a + 100
  return result

add100(120)

Loop over your list to apply to your add100() function

In [ ]:
for n in numbers:
  print(add100(n))